<!-- app.component.html -->
<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/image/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        IlCanedAssistenza
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/cani">I nostri eroi</a>
          <a class="nav-link" routerLink="/who">Dicono di noi</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<!-- Qui Angular inserisce i component secondo la rotta -->
<router-outlet></router-outlet>

<footer class="custom-footer">
  <div class="footer-buttons">
    <a href="https://www.instagram.com/ilcanedassistenza/" target="_blank" class="footer-btn insta">
      <i class="fa-brands fa-instagram"></i> Instagram
    </a>
    <a href="https://www.tiktok.com/@ilcanedassistenza" target="_blank" class="footer-btn tiktok">
      <i class="fa-brands fa-tiktok"></i> TikTok
    </a>
    <a href="mailto:ilcanedassistenza@gmail.com" class="footer-btn email">
      <i class="fa-solid fa-envelope"></i> Email
    </a>
  </div>

  <p class="privacy-text">I dati non vengono raccolti né condivisi. Questo sito è a scopo informativo e non utilizza cookie di profilazione.</p>
  <p class="copyright">© 2025 IlCaneDAssistenzaCommunity. Tutti i diritti riservati.</p>
</footer>
