
<main>
  <section class="section">
    <div class="content-block text-block">
      <h2>
        <i class="fa-solid fa-paw fa-rotate-by fa-xl" style="color: #3e7aa8; --fa-rotate-angle: -45deg;"></i>
        Chi Siamo
      </h2>
      <p>
        Siamo un gruppo di amici, uniti da un profondo <strong>amore e rispetto per il mondo animale</strong>, con un occhio
        di riguardo speciale per l'incredibile dedizione e il
        <strong> legame unico che si instaura tra i cani d'assistenza e le persone con disabilità</strong>. La nostra
        avventura è nata dalla consapevolezza di quanto spesso il ruolo cruciale di questi straordinari compagni a quattro
        zampe rimanga sconosciuto o non pienamente compreso.
      </p>
      <p>
        La nostra missione è ambiziosa ma sentita: vogliamo fare da ponte tra questo universo di supporto silenzioso ed
        efficace e il pubblico più ampio. Crediamo fermamente che una <strong>maggiore consapevolezza</strong> possa non
        solo accrescere il riconoscimento del valore inestimabile dei cani d'assistenza, ma anche incoraggiare un maggiore
        sostegno verso le organizzazioni che si dedicano al loro addestramento e alla loro fornitura.
      </p>
      <p>
        Attraverso questo sito, <strong>ci impegniamo a condividere storie toccanti</strong>, informazioni dettagliate sui
        diversi tipi di cani d'assistenza e sulle loro specifiche mansioni, e a rispondere alle domande più comuni. Vogliamo
        essere una <strong> risorsa affidabile e un punto di riferimento</strong> per chiunque sia interessato a saperne di
        più su come questi meravigliosi animali cambiano concretamente la vita di chi ne ha bisogno, offrendo <strong>non
          solo aiuto pratico, ma anche compagnia, sicurezza e una rinnovata indipendenza.</strong>
      </p>
    </div>
    <div class="content-block image-block">
      <img src="../assets/image/fotosezione1home.jpg" alt="Immagine sezione Chi Siamo"
        style="width: 100%; height: auto; display: block; border-radius: 8px;">
      <div class="button-instagram-container">
        <a href="https://www.instagram.com/ilcanedassistenza/" target="_blank" class="button-instagram">
          <i class="fa-brands fa-instagram" style="margin-left: 8px;"></i>
          Scrivici su Instagram e entra nella community!
        </a>
      </div>
    </div>
  </section>

  <section class="section section-reverse">
    <div class="content-block text-block">
      <h2>
        <strong>Cosa sono i Cani d'Assistenza?</strong>
        <i class="fa-solid fa-paw fa-rotate-by fa-xl" style="color: #3e7aa8; --fa-rotate-angle: 45deg;"></i>
      </h2>
      <p>
        I cani d'assistenza sono addestrati per supportare persone con disabilità fisiche, sensoriali o mentali,
        migliorando significativamente la loro autonomia. Attraverso un addestramento specifico, questi cani svolgono compiti
        cruciali che vanno dalla guida per persone cieche (<strong>cani guida</strong>) all'allerta medica per condizioni
        come l'epilessia (<strong>cani da allerta medica</strong>), fino all'assistenza in attività quotidiane
        (<strong>cani da assistenza motoria</strong>). Ci sono anche cani d'assistenza addestrati per mitigare i sintomi di
        alcune malattie psichiatriche (<strong>cani d'assistenza psichiatrica</strong>).
      </p>
      <p>
        Il legame tra il cane d'assistenza e la persona che supporta è forte e basato sulla fiducia reciproca. Questi animali
        diventano partner indispensabili, offrendo aiuto pratico, sicurezza e compagnia.
      </p>
    </div>
    <div class="content-block image-block">
      <img src="../assets/image/fotosez2.jpg" alt="Immagine sezione Cosa sono i Cani d'Assistenza?" class="image-small">
      <div class="button-wrapper">
        <a routerLink="cani" class="button-eroi">
          Scopri i nostri eroi a 4 zampe
          <i class="fa-solid fa-arrow-right-long"></i>
        </a>
      </div>
    </div>
  </section>
</main>