 <main>
      <div class="welcome-banner">
          <h1 class="hero-title">
            <i class="fa-solid fa-paw fa-rotate-by fa-xl" style="color: #3e7aa8; --fa-rotate-angle: -45deg;"></i>
            <strong>Dicono di noi!</strong>
            <i class="fa-solid fa-paw fa-rotate-by fa-xl" style="color: #3e7aa8; --fa-rotate-angle: 45deg;"></i>
        </h1>
      </div>

      <section id="dicono-di-noi">
        <div class="media-grid">

        <div class="media-card">
          <h3>Animals – NAP Radio</h3>
          <p>Puntata dedicata ai cani d'aasistenza, Giulio e Zaffy ci raccontano il loro percorso</p>
          <a href="https://www.mixcloud.com/Nap_radio/animals-s3-p35-28052024/" target="_blank">Ascolta l'intervista</a>
        </div>

        <div class="media-card">
          <h3>Le Iene – Mediaset</h3>
          <p>Quando un cane può salvarti la vita</p>
          <a href="https://www.iene.mediaset.it/video/quando-un-cane-puo-salvarti-la-vita_1320636.shtml" target="_blank">Guarda il servizio</a>
        </div>

        <div class="media-card">
          <h3>La Repubblica – La Zampa</h3>
          <p>Giulio Kai e i cani che gli hanno cambiato la vita</p>
          <a href="https://www.repubblica.it/la-zampa/2025/04/12/news/giulio_kai_cani_corgi_concorso-424123814/" target="_blank">Leggi l'articolo</a>
        </div>

        <div class="media-card">
          <h3>TikTok – SkyTg24</h3>
          <p>Intervista ad Alissa, ragazza non vedente, e alla sua cagnolina guida Carmen.</p>
          <a href="https://vm.tiktok.com/ZNdaKne3a" target="_blank">Guarda il video</a>
        </div>
 
        <div class="media-card">
          <h3>Liberopensiero.eu</h3>
          <p>Alissa racconta il suo rapporto con Carmen, tra autonomia e affetto.</p>
          <a href="https://www.liberopensiero.eu/07/12/2024/diritti/alissa-cavallera-racconta-il-rapporto-con-il-suo-cane-guida-carmen/" target="_blank">Leggi l'intervista</a>
        </div>
  
        <div class="media-card">
          <h3>Il Secolo XIX – Savona</h3>
          <p>La TikTok creator savonese che commuove con Carmen, il suo cane guida.</p>
          <a href="https://www.ilsecoloxix.it/savona/2024/11/21/news/tiktok_creator_alissa_carmen_savona_cane_guida-14823740/" target="_blank">Leggi l'articolo</a>
        </div>

      </div>
    </section>


</main>