<main class="hero-main">
        <h1 class="hero-title">
            <i class="fa-solid fa-paw fa-rotate-by fa-xl" style="color: #3e7aa8; --fa-rotate-angle: -45deg;"></i>
            <strong>I nostri eroi!</strong>
            <i class="fa-solid fa-paw fa-rotate-by fa-xl" style="color: #3e7aa8; --fa-rotate-angle: 45deg;"></i>
        </h1>
        <div class="dog-grid">

            <!-- Card Kora -->
            <div class="dog-card">
                <div class="dog-card-inner">
                    <div class="dog-card-front">
                        <div class="dog-image-container">
                            <img src="../assets/image/kora.jpg" alt="Kora, cane d'assistenza psichiatrica" class="dog-image" />
                        </div>
                        <div class="dog-info">
                            <h1 class="dog-name">Kora</h1>
                            <h2 class="dog-assistance"><strong>Assistenza psichiatrica</strong></h2>
                        </div>
                    </div>
                    <div class="dog-card-back">
                        <div class="dog-story-container">
                            <p class="dog-story">Kora, oggi in pensione, è stata il <strong>primo cane d'assistenza psichiatrica in Italia</strong>. adottata in canile nel 2018 per aiutare il suo amico Giulio a uscire da un momento difficile, Kora ha fin da subito mostrato <strong>grande empatia e capacità di riconoscere e gestire</strong> le crisi suo padroncino. Kora è stata la fonte di <strong>coraggio</strong> che ha spinto Giulio a cercare nuovi amici e coronare il suo sogno di creare la <strong>prima ServiceDogs community in Italia</strong>.</p>
                        </div>
                    </div>
                </div>
                <a href="https://www.instagram.com/kaidogslife/" target="_blank" class="instagram-button">
                        <i class="fa-brands fa-instagram"></i> Segui Kora su Instagram
                </a>
            </div>

            <!-- Card Carmen -->
            <div class="dog-card">
                <div class="dog-card-inner">
                    <div class="dog-card-front">
                        <div class="dog-image-container">
                            <img src="../assets/image/carmen.jpg" alt="Carmen, cane guida e d'assistenza alla mobilità" class="dog-image" />
                        </div>
                        <div class="dog-info">
                            <h1 class="dog-name">Carmen</h1>
                            <h2 class="dog-assistance"><strong>Cane guida</strong></h2>
                        </div>
                    </div>
                    <div class="dog-card-back">
                        <div class="dog-story-container">
                            <p class="dog-story">Carmen nasce nel 2021 e viene scelta da una scuola italiana per diventare un <strong>cane guida</strong>, alla fine del suo percorso di addestramento incontra Alissa, l'umana a cui verrà affidata come cane guida. Dopo <strong>l'incontro con la community</strong> Alissa scopre che Carmen può aiutarla anche in molti altri aspetti della sua disabilità e inizia a insegnarle anche <strong>task di assistenza motoria</strong>. Purtroppo ci sono state persone che hanno provato a impedirglielo, ma Alissa e Carmen non si sono arrese e <strong>hanno raggiunto il loro obiettivo</strong>.</p>
                        </div>
                    </div>
                </div>
                <a href="https://www.instagram.com/carmen_guidedog/" target="_blank" class="instagram-button">
                     <i class="fa-brands fa-instagram"></i> Segui Carmen su Instagram
                 </a>
            </div>

            <!-- Card Kaveh -->
            <div class="dog-card">
                <div class="dog-card-inner">
                    <div class="dog-card-front">
                        <div class="dog-image-container">
                            <img src="../assets/image//kaveh.jpg" alt="Kaveh, cane d'assistenza psichiatrica in addestramento" class="dog-image" />
                        </div>
                        <div class="dog-info">
                            <h1 class="dog-name">Kaveh</h1>
                            <h2 class="dog-assistance"><strong>Assistenza psichiatrica</strong></h2>
                        </div>
                    </div>
                    <div class="dog-card-back">
                        <div class="dog-story-container">
                            <p class="dog-story">Pastorello svizzero bianco, Kaveh è un <strong>cane d'assistenza in addestramento</strong>. Il suo padroncino Zaffy assieme alla sua sorellona Cleo gli stanno insegnando tutte le basi per essere un ottimo cane d'assistenza, sta anche <strong>imparando a guidare</strong> il suo padroncino nei momenti di difficoltà.</p>
                        </div>
                    </div>
                </div>
                <a href="https://www.instagram.com/zaffy_sfamily/" target="_blank" class="instagram-button">
                    <i class="fa-brands fa-instagram"></i> Segui Kaveh su Instagram
                </a>
            </div>
            

            <!-- Card Cleo -->
            <div class="dog-card">
                <div class="dog-card-inner">
                    <div class="dog-card-front">
                        <div class="dog-image-container">
                            <img src="../assets/image/cleo.jpg" alt="Cleo, cane d'assistenza psichiatrica" class="dog-image" />
                        </div>
                        <div class="dog-info">
                            <h1 class="dog-name">Cleo</h1>
                            <h2 class="dog-assistance"><strong>Assistenza psichiatrica</strong></h2>
                        </div>
                    </div>
                    <div class="dog-card-back">
                        <div class="dog-story-container">
                            <p class="dog-story">Cleopatra, <strong>per gli amici Cleo</strong>, è la sorellona e mentore di Kaveh. È stata la prima cagnolina d'assistenza di Zaffy, ha imparato a <strong>guidarlo nei momenti di sovraccarico</strong> e a aiutarlo a gestire ogni situazione di difficoltà restando sempre concentrata. La sua task preferita, e in cui eccelle, è la <strong>terapia della pressione profonda (DPT)</strong>.</p>
                        </div>
                    </div>
                </div>
                <a href="https://www.instagram.com/zaffy_sfamily/" target="_blank" class="instagram-button">
                   <i class="fa-brands fa-instagram"></i> Segui Cleo su Instagram
                </a>
            </div>

            <!-- Card Falco -->
            <div class="dog-card">
                <div class="dog-card-inner">
                    <div class="dog-card-front">
                        <div class="dog-image-container">
                            <img src="../assets/image/falco.jpg" alt="Falco, cane da allerta medica" class="dog-image" />
                        </div>
                        <div class="dog-info">
                            <h1 class="dog-name">Falco</h1>
                            <h2 class="dog-assistance"><strong>Allerta medica</strong></h2>
                        </div>
                    </div>
                    <div class="dog-card-back">
                        <div class="dog-story-container">
                            <p class="dog-story">Ciao sono Falco, un border collie nato nel 2021, cane da <strong>allerta medica con certificato PAT</strong>. Aiuto la mia mamma Greta anticipando la sua <strong>crisi tonico-clonica parziale</strong>, in modo tale da mettersi in sicurezza e successivamente prestandole soccorso. Da quando le do supporto la sua qualità di vita è migliorata notevolmente, ora la mia mamma è <strong>nuovamente autonoma e indipendente</strong>. Infatti siamo sempre insieme, anche al lavoro! Come dice lei sono il suo secondo cuore.</p>
                        </div>
                    </div>
                </div>
                <a href="https://www.instagram.com/kora_insta" target="_blank" class="instagram-button">
                    <i class="fa-brands fa-instagram"></i> Segui Falco su Instagram
                </a>
            </div>

              <!-- Card mako -->
            <div class="dog-card">
                <div class="dog-card-inner">
                    <div class="dog-card-front">
                        <div class="dog-image-container">
                            <img src="../assets/image/mako.jpg" alt="Mako!" class="dog-image" />
                        </div>
                        <div class="dog-info">
                            <h1 class="dog-name">Mako</h1>
                            <h2 class="dog-assistance"><strong>Assistenza psichiatrica</strong></h2>
                        </div>
                    </div>
                    <div class="dog-card-back">
                        <div class="dog-story-container">
                             <p class="dog-story">Welsh Corgi Pembroke nato a fine 2024, Mako è un <strong>cucciolino in addestramento</strong>, seguendo le orme della <strong>sorellona Kora</strong> diventerà un ottimo cane d'assistenza psichiatrica. <strong>Già campione europeo di bellezza</strong> nella sua categoria, promette grandi risultati anche nelle expo.</p>
                        </div>
                    </div>
                </div>
                <a href="https://www.instagram.com/kaidogslife/" target="_blank" class="instagram-button">
                    <i class="fa-brands fa-instagram"></i> Segui Mako su Instagram
                </a>
            </div>

        </div>
    </main>
