
    <main class="hero-main">
        <h1 class="hero-title">I nostri incredibili eroi</h1>
        <div class="dog-grid">
            <div class="dog-card">
                <div class="dog-image-container">
                    <img src="assets/image/kora.jpg" alt="foto cane" class="dog-image">
                </div>
                <div class="dog-info">
                    <h1 class="dog-name">Kora</h1>
                    <h2 class="dog-assistance"><strong>Cane d'Assistenza psichiatrica </strong></h2>
                    <div class="dog-story-container">
                        <p class="dog-story">Kora, oggi in pensione, e' stata il <strong>primo cane d'assistenza psichiatrica in Italia</strong>. adottata in canile nel 2018 per aiutare il suo amico Giulio a uscire da un momento difficile, Kora ha fin da subito mostrato <strong>grande empatia e capacita' di riconoscere e gestire</strong> le crisi suo padroncino. Kora e' stata la fonte di <strong>coraggio</strong> che ha spinto Giulio a cercare nuovi amici e coronare il suo sogno di creare la <strong>prima ServiceDogs community in italia</strong></p>
                    </div>
                </div>
            </div>
            <div class="dog-card">
                <div class="dog-image-container">
                    <img src="assets/image/carmen.jpg" alt="foto cane" class="dog-image">
                </div>
                <div class="dog-info">
                    <h1 class="dog-name">Carmen</h1>
                    <h2 class="dog-assistance"> <strong>Cane guida e d'assistenza alla mobilita'</strong> </h2>
                    <div class="dog-story-container">
                        <p class="dog-story">Carmen nasce nel 2021 e viene scelta da una scuola italiana per diventare un <strong>cane guida</strong>, alla fine del suo percorso di addestramento incontra Alissa, l'umana a cui verra' affidata come cane guida. Dopo <strong>l'incontro con la community</strong> Alissa scopre che Carmen puo' aiutarla anche in molti altri aspetti della sua disabilita' e inizia a insegnarle anche <strong>task di assistenza motoria</strong>. putroppo ci sono state persone che hanno provato a impedirglielo, ma Alissa e Carmen non si sono arrese e <strong>hanno raggiunto il loro obbiettivo</strong></p>
                    </div>
                </div>
            </div>
            <div class="dog-card">
                <div class="dog-image-container">
                    <img src="assets/image/kaveh.jpg" alt="foto cane" class="dog-image">
                </div>
                <div class="dog-info">
                    <h1 class="dog-name">Kaveh</h1>
                    <h2 class="dog-assistance"><strong>Cane d'assistenza psichiatrica in addestramento</strong></h2>
                    <div class="dog-story-container">
                        <p class="dog-story">Pastorello svizzero bianco, Kaveh e' un <strong>cane d'assistenza in addestramento</strong>. il suo padroncino Zaffy assieme alla sua sorellona Cleo gli stanno insegnando tutte le basi per essere un ottimo cane d'assistenza, sta anche <strong>imparando a guidare</strong> il suo padrocino nei momenti di difficolta'</p>
                    </div>
                </div>
            </div>
            <div class="dog-card">
                <div class="dog-image-container">
                    <img src="assets/image//cleo.jpg" alt="foto cane" class="dog-image">
                </div>
                <div class="dog-info">
                    <h1 class="dog-name">Cleo</h1>
                    <h2 class="dog-assistance"><strong>Cane d'assistenza psichiatrica</strong></h2>
                    <div class="dog-story-container">
                        <p class="dog-story">Cleopatra, <strong>Pr gli amici Cleo</strong>, e' la sorellona, e mentore, di Kaveh. E' stata la prima cagnolina d'assistenza di Zaffy, ha imparato a <strong>guidarlo nei momenti di sovraccarico</strong> e a aiutarlo a gestire ogni situazione di difficolta' restando sempre concentrata. La sua task preferita, e in cui eccelle, e' la <strong>terapia della pressione profonda (DPT)</strong>. </p>
                    </div>
                </div>
            </div>
            <div class="dog-card">
                <div class="dog-image-container">
                    <img src="assets/image/falco.jpg" alt="foto cane" class="dog-image">
                </div>
                <div class="dog-info">
                    <h1 class="dog-name">Falco</h1>
                    <h2 class="dog-assistance"> \<strong>Allerta medica </strong> </h2>
                    <div class="dog-story-container">
                        <p class="dog-story">Ciao sono Falco un border collie nato nel 2021, cane da <strong>allerta medica con certificato PAT</strong>. Aiuto la mia mamma Greta anticipando la sua <strong>crisi tonico clonica parziale</strong>, in modo tale da mettersi in sicurezza e successivamente prestandole soccorso. Da quando le do supporto la sua qualità di vita è migliorata notevolmente, ora la mia mamma è <strong>nuovamente autonoma e indipendente</strong>. Infatti siamo sempre insieme, anche al lavoro! Come dice lei sono il suo secondo cuore.</p>
                    </div>
                </div>
            </div>
            <div class="dog-card">
                <div class="dog-image-container">
                    <img src="assets/image/mako.jpg" alt="foto cane" class="dog-image">
                </div>
                <div class="dog-info">
                    <h2 class="dog-name">Wallfugh You Mako Me Smile</h2>
                    <p class="dog-assistance">Cane d'assistenza psichiatrica in addestramento</p>
                    <div class="dog-story-container">
                        <p class="dog-story">Welsh Corgi Pembroke nato a fine 2024, Mako e' un  <strong>cucciolino in addestranmento</strong>, seguendo le orme della <strong>sorellona Kora</strong> diventera' un ottimo cane d'assistenza psichiatrica. <strong>Gia' campione europeo di bellezza</strong> nella sua categoria, promette grandi risultati anche nelle expo. </p>
                    </div>
                </div>
            </div>
            
        </div>
    </main>